@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SpoqaHanSansNeo-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SpoqaHanSansNeo-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff')
    format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .title01B {
    font-family: 'SpoqaHanSansNeo-Bold';
    font-size: 26px;
    line-height: 32px;
  }

  .title02B {
    font-family: 'SpoqaHanSansNeo-Bold';
    font-size: 24px;
    line-height: 30px;
  }
  .title03B {
    font-family: 'SpoqaHanSansNeo-Bold';
    font-size: 22px;
    line-height: 28px;
  }
  .title04B {
    font-family: 'SpoqaHanSansNeo-Bold';
    font-size: 20px;
    line-height: 26px;
  }
  .title05B {
    font-family: 'SpoqaHanSansNeo-Bold';
    font-size: 18px;
    line-height: 24px;
  }
  .title01M {
    font-family: 'SpoqaHanSansNeo-Medium';
    font-size: 26px;
    line-height: 32px;
  }
  .title02M {
    font-family: 'SpoqaHanSansNeo-Medium';
    font-size: 24px;
    line-height: 30px;
  }
  .title03M {
    font-family: 'SpoqaHanSansNeo-Medium';
    font-size: 22px;
    line-height: 28px;
  }
  .title04M {
    font-family: 'SpoqaHanSansNeo-Medium';
    font-size: 20px;
    line-height: 26px;
  }
  .title05M {
    font-family: 'SpoqaHanSansNeo-Medium';
    font-size: 18px;
    line-height: 24px;
  }
  .body01M {
    font-family: 'SpoqaHanSansNeo-Medium';
    font-size: 22px;
    line-height: 24px;
  }
  .body02M {
    font-family: 'SpoqaHanSansNeo-Medium';
    font-size: 20px;
    line-height: 22px;
  }
  .body03M {
    font-family: 'SpoqaHanSansNeo-Medium';
    font-size: 18px;
    line-height: 20px;
  }
  .body04M {
    font-family: 'SpoqaHanSansNeo-Medium';
    font-size: 16px;
    line-height: 18px;
  }
  .body05M {
    font-family: 'SpoqaHanSansNeo-Medium';
    font-size: 14px;
    line-height: 16px;
  }
  .body01R {
    font-family: 'SpoqaHanSansNeo-Regular';
    font-size: 22px;
    line-height: 24px;
  }
  .body02R {
    font-family: 'SpoqaHanSansNeo-Regular';
    font-size: 20px;
    line-height: 22px;
  }
  .body03R {
    font-family: 'SpoqaHanSansNeo-Regular';
    font-size: 18px;
    line-height: 20px;
  }
  .body04R {
    font-family: 'SpoqaHanSansNeo-Regular';
    font-size: 16px;
    line-height: 18px;
  }
  .body05R {
    font-family: 'SpoqaHanSansNeo-Regular';
    font-size: 14px;
    line-height: 16px;
  }
  .caption01 {
    font-family: 'SpoqaHanSansNeo-Regular';
    font-size: 13px;
    line-height: 15px;
  }
  .caption02 {
    font-family: 'SpoqaHanSansNeo-Regular';
    font-size: 12px;
    line-height: 14px;
  }
}

input {
  margin: 0;
}

input:disabled {
  cursor: not-allowed;
}

input:focus {
  outline: none;
}
